.BlenderEditorContainer {
    display: flex;
    position: relative;
}

.BlenderEditor {
    display: flex;
    position: relative;
}

.BlenderEditorRegionMain {
    background-color: rgb(53, 53, 53);
    display: flex;
    position: absolute;
    border-bottom-left-radius: var(--menubar-border-radius);
    border-bottom-right-radius: var(--menubar-border-radius);
}

.BlenderEditorRegionsOtherThanMain {
    display: flex;
    position: absolute;
}

.BlenderEditorRegionHeader {
    border-top-left-radius: var(--menubar-border-radius);
    border-top-right-radius: var(--menubar-border-radius);
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    min-width: 14px;
}

.BlenderEditorRegionHeader .NobucaMenubar {
    background-color: transparent;
}

.BlenderEditorRegionHeader > .NobucaPanel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 3px;
}

.BlenderEditorRegionToolbar {
    display: flex;
    position: absolute;
}

.BlenderEditorRegionToolbar > .NobucaPanel {
    display: flex;
    padding-left: 8px;
    flex-direction: column;
}

.BlenderEditorRegionToolSettings {
    background-color: rgb(53, 53, 53);
    display: flex;
    position: absolute;
}

.BlenderEditorRegionToolSettings > .NobucaPanel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 8px;
    padding-left: 50px;
}

.BlenderEditorRegionAdjustLastOperation {
    background-color: rgb(83, 83, 83);
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 14px;
    min-width: 14px;
}

.BlenderEditorRegionSidebar {
    background-color: rgb(93, 93, 93);
    display: flex;
    position: absolute;
    top: 28px;
    right: 0px;
    height: 14px;
    min-width: 14px;
}