@import "../../../../nobuca-core/Nobuca.css";
@import "../topbar/BlenderTopbar.css";
@import "../statusbar/BlenderStatusbar.css";
@import "../control/data-block-menu/BlenderDataBlockMenu.css";
@import "../editor/BlenderEditor.css";
@import "../control/button-drop-down/BlenderControlButtonDropDown.css";
@import "../control/button-toggle/BlenderControlButtonToggle.css";
@import "../control/search/BlenderControlSearch.css";
@import "../control/button/BlenderControlButton.css";
@import "../control/toolbar/BlenderControlToolbar.css";
@import "../control/properties/BlenderControlProperties.css";
@import "../field/number/BlenderFieldNumber.css";
@import "../control/timeline/BlenderControlTimeline.css";
html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--background-color-dark);
}

#rootPanel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#areasPanel {
    display: flex;
    flex-grow: 1;
    background-color: rgb(22, 22, 22);
}

.NobucaPanel {
    display: flex;
    user-select: none;
}

#areasPanel>.NobucaPanel {
    width: 100%;
}

.NobucaPanelSplitLeftRightDivider,
.NobucaPanelSplitLeftRightDivider:hover,
.NobucaPanelSplitTopBottomDivider,
.NobucaPanelSplitTopBottomDivider:hover {
    background-color: transparent;
}