.BlenderControlToolbar {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    margin-bottom: 2px;
    position: absolute;
    left: 10px;
    align-items: start;
}

.BlenderControlToolbarFirstLevelMenus {
    display: flex;
    flex-direction: column;
}

.BlenderControlToolbarFirstLevelMenu {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

.BlenderControlToolbarFirstLevelMenuItems {
    display: flex;
    flex-direction: column;
    border: var(--menubar-border);
    border-radius: var(--menubar-border-radius);
    overflow: hidden;
}

.BlenderControlToolbarSecondLevelMenuItemsContainer {
    display: flex;
    flex-direction: column;
}

.BlenderControlToolbarSecondLevelMenuItems {
    display: flex;
    flex-direction: column;
    border: var(--menubar-border);
    border-radius: var(--menubar-border-radius);
    overflow: hidden;
}

.BlenderControlToolbarFirstLevelMenuItem {
    display: flex;
    background-color: rgb(40, 40, 40);
    height: 32px;
    cursor: pointer;
    border-bottom: var(--menubar-border);
    position: relative;
    align-items: center;
}

.BlenderControlToolbarFirstLevelMenuItem:last-child {
    border-bottom: none;
}

.BlenderControlToolbarFirstLevelMenuItem:hover {
    background-color: rgb(48, 48, 48);
}

.BlenderControlToolbarFirstLevelMenuItem:active {
    background-color: rgb(71, 114, 178);
}

.BlenderControlToolbarFirstLevelMenuItemIconImage {
    height: 32px;
}

.BlenderControlToolbarFirstLevelMenuItemText {
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    padding-left: 6px;
    padding-right: 12px;
    white-space: nowrap;
    user-select: none;
}

.BlenderControlToolbar[expandMode="one-column"] .BlenderControlToolbarFirstLevelMenuItemText,
.BlenderControlToolbar[expandMode="two-columns"] .BlenderControlToolbarFirstLevelMenuItemText {
    display: none;
}

.BlenderControlToolbarMenuItemIsGroupImage {
    height: 6px;
    position: absolute;
    bottom: 1px;
    right: 1px;
}

.BlenderControlToolbarSecondLevelMenuItems {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: var(--menubar-border);
    border-radius: var(--menubar-border-radius);
    margin-left: 3px;
    background-color: rgb(24, 24, 24);
}

.BlenderControlToolbarSecondLevelMenuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-right: 8px;
    padding-right: 30px;
    cursor: pointer;
    user-select: none;
    border-radius: var(--menubar-border-radius);
}

.BlenderControlToolbarSecondLevelMenuItem:first-child {
    margin-top: 4px;
}

.BlenderControlToolbarSecondLevelMenuItem:hover {
    background-color: rgb(71, 114, 178);
}

.BlenderControlToolbarSecondLevelMenuItemIconImage {
    height: 32px;
}

.BlenderControlToolbarSecondLevelMenuItemTitle {
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    padding-left: 6px;
    white-space: nowrap;
}

.BlenderControlToolbarExtender {
    display: flex;
    width: 3px;
    cursor: col-resize;
    position: relative;
}

.BlenderControlToolbar[expandMode="one-column"] .BlenderControlToolbarFirstLevelMenu {
    width: 32px;
}

.BlenderControlToolbar[expandMode="two-columns"] .BlenderControlToolbarFirstLevelMenus {
    flex-wrap: wrap;
}

.BlenderControlToolbar[expandMode="two-columns"] .BlenderControlToolbarFirstLevelMenu {
    flex-direction: row;
    flex-wrap: wrap;
}

.BlenderControlToolbar[expandMode="two-columns"] .BlenderControlToolbarFirstLevelMenuItem {
    border-right: var(--menubar-border);
}

.BlenderControlToolbar[expandMode="extended"] .BlenderControlToolbarFirstLevelMenus {
    flex-direction: column;
    flex-wrap: wrap;
}