.BlenderTopbar {
    height: 30px;
    display: flex;
    align-items: end;
    z-index: 1;
}

.BlenderTopbarMenusAndWorkspaces {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
}

.BlenderTopbarMenusAndWorkspaces::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.BlenderTopbarScenesAndLayers {
    display: flex;
    position: absolute;
    top: 1px;
    right: 0;
    padding-left: 8px;
    background-color: var(--background-color-dark);
}