.BlenderControlButton {
    display: flex;
    border: var(--menubar-border);
    border-radius: var(--menubar-border-radius);
    margin-top: 2px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: rgb(40, 40, 40);
    user-select: none;
    align-items: center;
    height: 20px;
    user-select: none;
    box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 40%);
    cursor: pointer;
    overflow: hidden;
}

.BlenderControlButtonContents {
    display: flex;
    align-items: center;
    height: 20px;
    background-color: rgb(84, 84, 84);
}

.BlenderControlButtonContents:hover {
    background-color: rgb(101, 101, 101);
}

.BlenderControlButtonContents:active {
    background-color: rgb(71, 114, 179);
}

.BlenderControlButtonImage {
    padding-left: 2px;
    padding-right: 2px;
}
