@import "../../../../nobuca-core/Nobuca.css";

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.EclipseApp {
  display: flex;
  box-sizing: border-box;

  --eclipse-font-color: rgb(0, 0, 0);
  --eclipse-text-shadow: none;
}

.EclipseApp > .NobucaMenubar {
  padding-top: 4px;
  padding-left: 4px;
}

.EclipseApp > .NobucaPanel {
  background-color: rgb(240, 240, 240);
  padding-left: 4px;
  box-sizing: border-box;
}

.EclipseApp > .NobucaPanel > .NobucaButtonbar {
  padding: 4px;
  padding-right: 0;
  padding-left: 0;
}

.NobucaMenubar {
  box-sizing: border-box;
  background: transparent;
}

.NobucaButtonbar {
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
}

.EclipseWindow {
  display: flex;
  flex-direction: row;
  background-color: rgb(240, 240, 240);
}

.EclipseWindowLeftMinimizedPartContainerStacks,
.EclipseWindowRightMinimizedPartContainerStacks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  justify-content: flex-start;
}

.EclipseWindowLeftMinimizedPartContainerStackButtonbar,
.EclipseWindowRightMinimizedPartContainerStackButtonbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

.EclipseWindowMinimizedPartContainerStackButtonbarDragHandle {
  display: flex;
  width: 16px;
  padding: 2px;
  margin-right: 4px;
  margin-left: 4px;
  cursor: move;
  border: 1px solid transparent;
  user-select: none;
}

.EclipseWindowMinimizedPartContainerStackButtonbarButton {
  display: flex;
  width: 16px;
  padding: 2px;
  margin-right: 4px;
  margin-left: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;
}

.EclipseWindowMinimizedPartContainerStackButtonbarButton:hover {
  background-color: rgb(216, 230, 242);
  border: 1px solid rgb(192, 220, 243);
}

.EclipsePartContainerSashTopBottom {
  display: flex;
  user-select: none;
}

.NobucaMenubarChildMenuItems
  > .NobucaMenubarItem
  > .NobucaMenubarItemContents:hover,
.NobucaMenubarChildMenuItems
  > .NobucaMenubarItem
  > .NobucaMenubarItemContents:active,
.NobucaMenubarChildMenuItems
  > .NobucaMenubarItem.expanded
  > .NobucaMenubarItemContents {
  background-color: rgb(145, 201, 247);
  border: 1px solid rgb(145, 201, 247);
  border-radius: 0;
}

.NobucaMenubarItem.expanded > .NobucaMenubarItemContents,
.NobucaMenubarItemContents:active,
.NobucaMenubarItemContents:hover {
  background-color: rgb(204, 232, 255);
  border: 1px solid rgb(153, 209, 255);
  border-radius: 0;
}

.NobucaMenubarItemText {
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
}

.NobucaMenubarItemShortcut {
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
  opacity: 1;
}

.NobucaMenubarItemChildrenMark {
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
  opacity: 1;
}

.NobucaMenubarItem.hasChildMenuItems
  > .NobucaMenubarItemContents
  > .NobucaMenubarItemChildrenMark::before {
  content: ">";
}

.NobucaMenubarChildMenuItems {
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 0;
}

.NobucaMenubarChildMenuItems .NobucaMenubarItemContents {
  border: 1px solid transparent;
  border-radius: 0;
}

.NobucaMenubarItemSeparator {
  height: 1px;
  border-bottom: 1px solid rgb(215, 215, 215);
}

.NobucaPanelSplitLeftRightDivider,
.NobucaPanelSplitTopBottomDivider {
  background-color: transparent;
}

.NobucaPanelSplitLeftRightDivider:hover,
.NobucaPanelSplitTopBottomDivider:hover {
  background-color: transparent;
}

.EclipseWindowPartContainerStack {
  border: 1px solid rgb(215, 215, 215);
  user-select: none;
  box-sizing: border-box;
}

.EclipseWindowPartContainerStackHeader {
  display: flex;
  user-select: none;
  box-sizing: border-box;
  flex-direction: row;
  background-color: rgb(231, 231, 231);
}

.EclipseWindowPartContainerStackCommonButtonbar {
  display: flex;
  padding-right: 2px;
  align-items: center;
}

.EclipseWindowPartContainerStackSpecificButtonbar {
  display: flex;
  min-height: 30px;
  align-items: center;
  width: min-content;
  justify-content: right;
}

.EclipseWindowPartContainerStackHeaderSpacer {
  display: flex;
  flex-grow: 1;
}

.EclipseWindowPartContainerStackContent {
  display: flex;
  user-select: none;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
}

.EclipseWindowPartView {
  display: flex;
  user-select: none;
  box-sizing: border-box;
}

.NobucaTabsHeader {
  background-color: rgb(231, 231, 231);
}

.NobucaTabsHeadersContainer {
  margin: 0;
}

.NobucaTabHeader {
  background-color: transparent;
  border: 1px solid transparent;
  border-top: 0;
  border-right: 0;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}

.NobucaTabHeader:first-child,
.NobucaTabHeader.active:first-child {
  border-left: none;
}

.NobucaTabHeader.active {
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(218, 218, 218);
  border-top: 0;
}

.NobucaTabHeader.active {
  background-color: rgb(242, 242, 242);
}

.NobucaTabHeader:hover {
  background-color: rgb(242, 242, 242);
}

.NobucaTabHeaderText {
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
  padding-top: 8px;
  padding-bottom: 8px;
}

.NobucaTabHeaderCloseButton {
  display: none;
  opacity: 0.8;
  background-color: transparent;
  color: rgb(218, 218, 218);
  text-shadow: var(--eclipse-text-shadow);
}

.NobucaTabHeaderCloseButton::before {
  content: "⨯";
}

.NobucaTabHeader.active .NobucaTabHeaderCloseButton {
  display: flex;
}

.NobucaTabHeaderCloseButton {
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
}

.NobucaTabHeaderCloseButton:hover {
  color: rgb(240, 64, 64);
  background-color: transparent;
}

.NobucaButtonbar {
  padding: 0;
  height: auto;
}

.NobucaButtonbarItem,
.NobucaButtonbarItem:last-child {
  border: 1px solid transparent;
  opacity: 1;
  justify-content: center;
  height: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  opacity: 1;
}

.NobucaButtonbarItem:hover {
  background-color: rgb(216, 230, 242);
  border: 1px solid rgb(192, 220, 243);
  border-radius: 0;
}

.NobucaButtonbarItemImg {
  padding: 0;
}

.NobucaDialogBackground {
  background-color: transparent;
  opacity: 1;
}

.NobucaDialog {
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
  border-radius: 0;
  opacity: 1;
  border: 1px solid rgb(112, 112, 112);
}

.NobucaDialogHeader {
  background-color: rgb(255, 255, 255);
}

.NobucaDialogSubheader {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(160, 160, 160);
  padding: 10px;
}

.NobucaDialogHeaderIcon {
  width: 16px;
}

.NobucaDialogHeaderTitle {
  color: inherit;
  text-shadow: inherit;
}

.NobucaDialogBody,
.NobucaDialogButtons {
  background-color: rgb(240, 240, 240);
}

.NobucaDialogBody {
  padding: 16px;
}

.NobucaDialogButtons {
  border-top: 1px solid transparent;
}

.NobucaLabel {
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
}

.NobucaText {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(122, 122, 122);
  border-radius: 0;
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
  box-shadow: none;
  max-height: 24px;
  min-height: 24px;
  margin-bottom: 0px;
}

.NobucaText:active,
.NobucaText:focus {
  border: 1px solid rgb(0, 120, 215);
}

.NobucaSelect {
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(122, 122, 122);
  border-radius: 0;
  box-shadow: none;
  max-height: 24px;
  min-height: 24px;
  align-items: top;
}

.NobucaSelect:hover,
.NobucaSelect:active,
.NobucaSelect:focus {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 120, 215);
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
}

.NobucaSelectInput,
.NobucaSelectInput:hover,
.NobucaSelectInput:active,
.NobucaSelectInput:focus {
  display: flex;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  outline: 0;
  flex-grow: 1;
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
}

.NobucaSelectButton {
  display: flex;
  width: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.NobucaSelectButton:hover {
  background-color: rgb(229, 241, 251);
  border-left: 1px solid rgb(0, 120, 215);
}

.NobucaSelectButton::after {
  content: "🞃";
}

.NobucaSelect.expanded > .NobucaSelectOptions {
  display: flex;
}

.NobucaSelectOptions {
  display: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 120, 215);
  box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 40%);
  box-sizing: border-box;
  user-select: none;
  position: absolute;
}

.NobucaButton {
  background-color: rgb(225, 225, 225);
  border-radius: 0;
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
  box-shadow: none;
  border: 1px solid rgb(173, 173, 173);
  outline: 1px solid transparent;
}

.NobucaButton.enabled:focus {
  background-color: rgb(225, 225, 225);
  border: 1px solid rgb(0, 120, 215);
  outline: 1px solid rgb(0, 120, 215);
}

.NobucaButton.enabled:active,
.NobucaButton.enabled:hover:active {
  background-color: rgb(201, 228, 247);
  border: 1px solid rgb(0, 120, 215);
  outline: 1px solid transparent;
}

.NobucaButton.enabled:hover {
  background-color: rgb(229, 241, 251);
  border: 1px solid rgb(0, 120, 215);
  outline: 1px solid transparent;
}

.NobucaAccordionSectionHeader {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.NobucaAccordionSectionHeaderTitle {
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
  font-weight: bold;
}

.NobucaAccordionSectionHeaderButton {
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
}

.NobucaAccordionSectionBody {
  background-color: transparent;
}

.NobucaCheckbox {
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  border-radius: 0;
}

.NobucaCheckbox.checked,
.NobucaCheckbox:active,
.NobucaCheckbox:hover.checked,
.NobucaCheckbox:hover,
.NobucaCheckbox:focus {
  border: 1px solid rgb(0, 120, 215);
  background-color: rgb(255, 255, 255);
}

.NobucaCheckboxMark {
  background-color: rgb(0, 0, 0);
}

.NobucaTree {
  background-color: rgb(255, 255, 255);
}

.NobucaTreeNodeExpandCollapseButton {
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
}

.NobucaTreeNodeWithoutChildrenLeftSideComponents,
.NobucaTreeNodeWithoutChildrenRightSideComponents {
  padding: 4px;
}

.NobucaTreeNodeText {
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
}

.NobucaTreeNodeWithoutChildren:hover,
.NobucaTreeNode.selected > .NobucaTreeNodeWithoutChildren:hover,
.NobucaTreeNode.selected > .NobucaTreeNodeWithoutChildren {
  background-color: transparent;
}

.NobucaTreeNodeWithoutChildren:hover
  > .NobucaTreeNodeWithoutChildrenLeftSideComponents {
  background-color: rgb(229, 243, 255);
}

.NobucaTreeNode.selected
  > .NobucaTreeNodeWithoutChildren
  > .NobucaTreeNodeWithoutChildrenLeftSideComponents {
  background-color: rgb(205, 232, 255);
}

.NobucaTextArea,
.NobucaTextArea:active,
.NobucaTextArea:hover,
.NobucaTextArea:focus {
  background-color: rgb(255, 255, 255);
  color: var(--eclipse-font-color);
  text-shadow: var(--eclipse-text-shadow);
  font-family: var(--font-family);
  font-size: var(--font-size);
  outline: none;
  border: none;
  box-shadow: none;
  margin: 0;
}